/lib/
/.shards/
/.deps/
/.crystal/
/doc/
/node_modules/
/public/dist/*
/config/*.yml
/config/deploy/*.yml
/config/environments/*.yml
# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
/.deps.lock
shard.lock
